* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{

list-style: none;

}

section ul li {
transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

body * {
    font-family: 'Inter';
    line-height: 160%;
}

body {
    background-image: url(./assets/img/background.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

header {
    margin-top: 32px;
    text-align: center;
    height: 120px;
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;

    animation: fromtop .7s .1s backwards;

}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}


/*main * {
    border: 1px solid red;
}
**/


main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
    margin-top: 32px;
    
}

main section {
    color:white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;

    animation: frombottom .7s backwards;

}

section div {
    background-color: #2A2634;
    padding: 24px 32px 32px 32px;
    border-radius: 8px;
}

section h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing:-0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    flex-wrap: wrap;
}

.games-list img {
    border-radius: 8px;
    width: 90px;
}

.series-list img {
    border-radius: 10%;
    width: 70px;
    border: 1px solid #443E54;
}


.social-list li:nth-child(1) path {
    fill: #2871FF;
    ;

}
.social-list li:nth-child(2) path {
    fill: #9A35FF;
    ;

}

.social-list li:nth-child(3) path {
    fill: #FA41FE;
    ;

}
.social-list a {
    padding: 0px;
    margin: 0px;

}
/* animation */


@keyframes fromtop {
    from{
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes frombottom {
    from{
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main section:nth-child(1) {
    animation-delay:.1s;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}